*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #71d4e8;
  width: 70%;
  margin: 0 auto;
}

#title{
  color: #ffffff;
  font-family: Concert One;
  font-size: 80px;
  margin-top: 30px;
  margin-left: 40px;
  text-align: center;
}

.card{
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: contain;
  background-color: #ffffff;

  border: 1px solid black;
  height: 200px;
  width: 175px;
  margin-left: 40px;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

#card-face{
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: relative;
}

#card-face > p{
  position: relative;
  top: 160px;

  color: #ff007b;
  font-family: Concert One;
  font-size: 25px;
}

.row{
  margin-top: 40px;
  text-align: center;
}

.card-text{
  position: absolute;
  bottom: 5px;
  left: 40px;
  color: #ff9d00;
  font-family: Concert One;
  font-size: 25px;
  display: none;
}

.card img{
  width: 100%;
  visibility: hidden;
}

.card:hover img{
  visibility: visible;
}

.card:hover{
  background-image: none;
}

.card:hover .card-text{
  display: block;
}

footer{
  text-align: center;
  font-family: Concert One;
  margin-left: 40px;
  margin-top: 40px;
}
