*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #71d4e8;
  width: 70%;
  margin: 0 auto;
}

#title{
  color: #ffffff;
  font-family: Concert One;
  font-size: 80px;
  margin-top: 30px;
  margin-left: 40px;
  text-align: center;
}

.card{
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: contain;

  border: 1px solid black;
  height: 200px;
  width: 175px;
  margin-left: 40px;
  border-radius: 15px;
  display: inline-block;
}

#card-face{
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: relative;
}

#card-face > p{
  position: relative;
  top: 160px;
  left: 20px;
  color: #ff007b;
  font-family: Concert One;
  font-size: 30px;
  position: absolute;
}

.row{
  margin-top: 40px;
  text-align: center;
}

footer{
  text-align: center;
  font-family: Concert One;
  margin-left: 40px;
  margin-top: 40px;
}
