*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #71d4e8;
  width: 70%;
  margin: 0 auto;
}

#title{
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
}

.row-1{
  position: relative;
}

.row-1 .card{
  height: 200px;
  width: 160px;
  background-color: red;
  display: inline-block;
}

.row-2{
  position: relative;
}

.row-2 .card{
  height: 200px;
  width: 160px;
  background-color: blue;
  display: inline-block;
}

.row-3{
  position: relative;
}

.row-3 .card{
  height: 200px;
  width: 160px;
  background-color: yellow;
  display: inline-block;
}
